In [1]:
import numpy as np
import pandas as pd

In [53]:
# Read file as raw text
with open("day2_input.csv") as f:
    text = f.read()

In [54]:
# Split on commas
parts = [x.strip() for x in text.split(",") if x.strip()]

In [55]:
# Keep only well-formed ranges
df = pd.DataFrame(parts, columns=["raw"])

In [38]:
df

                      raw
0         5542145-5582046
1                 243-401
2           884211-917063
3               1174-1665
4           767028-791710
5           308275-370459
6     285243789-285316649
7         3303028-3361832
8           793080-871112
9            82187-123398
10             7788-14096
11                  21-34
12      33187450-33443224
13        2750031-2956556
14            19974-42168
15      37655953-37738891
16              1759-2640
17            55544-75026
18  9938140738-9938223673
19    965895186-966026269
20          502675-625082
21      11041548-11204207
22                   1-20
23              3679-7591
24        8642243-8776142
25                  40-88
26  2872703083-2872760877
27                532-998
28          211488-230593
29        3088932-3236371
30          442734-459620
31  8484829519-8484873271
32  5859767462-5859911897
33       9987328-10008767
34          656641-673714
35    262248430-262271846

In [56]:
def expand_range(x):
    start, end = map(int, x.split("-"))
    return list(range(start, end + 1))

In [57]:
df["expanded"] = df["raw"].apply(expand_range)

In [41]:
df

                      raw                                           expanded
0         5542145-5582046  [5542145, 5542146, 5542147, 5542148, 5542149, ...
1                 243-401  [243, 244, 245, 246, 247, 248, 249, 250, 251, ...
2           884211-917063  [884211, 884212, 884213, 884214, 884215, 88421...
3               1174-1665  [1174, 1175, 1176, 1177, 1178, 1179, 1180, 118...
4           767028-791710  [767028, 767029, 767030, 767031, 767032, 76703...
5           308275-370459  [308275, 308276, 308277, 308278, 308279, 30828...
6     285243789-285316649  [285243789, 285243790, 285243791, 285243792, 2...
7         3303028-3361832  [3303028, 3303029, 3303030, 3303031, 3303032, ...
8           793080-871112  [793080, 793081, 793082, 793083, 793084, 79308...
9            82187-123398  [82187, 82188, 82189, 82190, 82191, 82192, 821...
10             7788-14096  [7788, 7789, 7790, 7791, 7792, 7793, 7794, 779...
11                  21-34  [21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 3...
12      33187450-33443224  [33187450, 33187451, 33187452, 33187453, 33187...
13        2750031-2956556  [2750031, 2750032, 2750033, 2750034, 2750035, ...
14            19974-42168  [19974, 19975, 19976, 19977, 19978, 19979, 199...
15      37655953-37738891  [37655953, 37655954, 37655955, 37655956, 37655...
16              1759-2640  [1759, 1760, 1761, 1762, 1763, 1764, 1765, 176...
17            55544-75026  [55544, 55545, 55546, 55547, 55548, 55549, 555...
18  9938140738-9938223673  [9938140738, 9938140739, 9938140740, 993814074...
19    965895186-966026269  [965895186, 965895187, 965895188, 965895189, 9...
20          502675-625082  [502675, 502676, 502677, 502678, 502679, 50268...
21      11041548-11204207  [11041548, 11041549, 11041550, 11041551, 11041...
22                   1-20  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...
23              3679-7591  [3679, 3680, 3681, 3682, 3683, 3684, 3685, 368...
24        8642243-8776142  [8642243, 8642244, 8642245, 8642246, 8642247, ...
25                  40-88  [40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 5...
26  2872703083-2872760877  [2872703083, 2872703084, 2872703085, 287270308...
27                532-998  [532, 533, 534, 535, 536, 537, 538, 539, 540, ...
28          211488-230593  [211488, 211489, 211490, 211491, 211492, 21149...
29        3088932-3236371  [3088932, 3088933, 3088934, 3088935, 3088936, ...
30          442734-459620  [442734, 442735, 442736, 442737, 442738, 44273...
31  8484829519-8484873271  [8484829519, 8484829520, 8484829521, 848482952...
32  5859767462-5859911897  [5859767462, 5859767463, 5859767464, 585976746...
33       9987328-10008767  [9987328, 9987329, 9987330, 9987331, 9987332, ...
34          656641-673714  [656641, 656642, 656643, 656644, 656645, 65664...
35    262248430-262271846  [262248430, 262248431, 262248432, 262248433, 2...

In [43]:
df["list_length"] = df["expanded"].apply(len)

In [44]:
df.head(40)

,raw,expanded,list_length
0,5542145-5582046,"[5542145, 5542146, 5542147, 5542148, 5542149, ...",39902
1,243-401,"[243, 244, 245, 246, 247, 248, 249, 250, 251, ...",159
2,884211-917063,"[884211, 884212, 884213, 884214, 884215, 88421...",32853
3,1174-1665,"[1174, 1175, 1176, 1177, 1178, 1179, 1180, 118...",492
4,767028-791710,"[767028, 767029, 767030, 767031, 767032, 76703...",24683
5,308275-370459,"[308275, 308276, 308277, 308278, 308279, 30828...",62185
6,285243789-285316649,"[285243789, 285243790, 285243791, 285243792, 2...",72861
7,3303028-3361832,"[3303028, 3303029, 3303030, 3303031, 3303032, ...",58805
8,793080-871112,"[793080, 793081, 793082, 793083, 793084, 79308...",78033
9,82187-123398,"[82187, 82188, 82189, 82190, 82191, 82192, 821...",41212
10,7788-14096,"[7788, 7789, 7790, 7791, 7792, 7793, 7794, 779...",6309
11,21-34,"[21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 3...",14
12,33187450-33443224,"[33187450, 33187451, 33187452, 33187453, 33187...",255775
13,2750031-2956556,"[2750031, 2750032, 2750033, 2750034, 2750035, ...",206526
14,19974-42168,"[19974, 19975, 19976, 19977, 19978, 19979, 199...",22195
15,37655953-37738891,"[37655953, 37655954, 37655955, 37655956, 37655...",82939
16,1759-2640,"[1759, 1760, 1761, 1762, 1763, 1764, 1765, 176...",882
17,55544-75026,"[55544, 55545, 55546, 55547, 55548, 55549, 555...",19483
18,9938140738-9938223673,"[9938140738, 9938140739, 9938140740, 993814074...",82936
19,965895186-966026269,"[965895186, 965895187, 965895188, 965895189, 9...",131084
20,502675-625082,"[502675, 502676, 502677, 502678, 502679, 50268...",122408
21,11041548-11204207,"[11041548, 11041549, 11041550, 11041551, 11041...",162660
22,1-20,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",20
23,3679-7591,"[3679, 3680, 3681, 3682, 3683, 3684, 3685, 368...",3913
24,8642243-8776142,"[8642243, 8642244, 8642245, 8642246, 8642247, ...",133900
25,40-88,"[40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 5...",49
26,2872703083-2872760877,"[2872703083, 2872703084, 2872703085, 287270308...",57795
27,532-998,"[532, 533, 534, 535, 536, 537, 538, 539, 540, ...",467
28,211488-230593,"[211488, 211489, 211490, 211491, 211492, 21149...",19106
29,3088932-3236371,"[3088932, 3088933, 3088934, 3088935, 3088936, ...",147440
30,442734-459620,"[442734, 442735, 442736, 442737, 442738, 44273...",16887
31,8484829519-8484873271,"[8484829519, 8484829520, 8484829521, 848482952...",43753
32,5859767462-5859911897,"[5859767462, 5859767463, 5859767464, 585976746...",144436
33,9987328-10008767,"[9987328, 9987329, 9987330, 9987331, 9987332, ...",21440
34,656641-673714,"[656641, 656642, 656643, 656644, 656645, 65664...",17074
35,262248430-262271846,"[262248430, 262248431, 262248432, 262248433, 2...",23417

In [62]:
def count_invalid_ids_in_range(start, end):
    count = 0
    min_len = len(str(start))
    max_len = len(str(end))

    for L in range(min_len, max_len + 1):
        if L % 2 != 0:
            continue  # skip odd lengths
        half_len = L // 2
        for i in range(10**(half_len-1), 10**half_len):
            candidate = int(str(i)*2)
            if start <= candidate <= end:
                count += 1
    return count

In [63]:
total_invalid = 0
for product_id_range in df["expanded"]:
    start = product_id_range[0]
    end = product_id_range[-1]
    total_invalid += count_invalid_ids_in_range(start, end)

print("Total invalid IDs:", total_invalid)

Total invalid IDs: 534

In [64]:
total_invalid

534